/*
Flaticon icon font: Flaticon
Creation date: 14/06/2020 10:52
*/

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon/font/Flaticon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.flaticon-church:before {
	content: "\f141";
}

.flaticon-love:before {
	content: "\f102";
}

.flaticon-pray:before {
	content: "\f103";
}